body {
    background-color: rgba(0, 0, 0, 0.932);
    justify-content: space-around;
}

.navbutton {
    box-shadow: 0px;
    margin-right: 25px;
    background-color: transparent;
    border: none;
    margin-top: 25px;
    border-radius: 15px;
}

.navlinks{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 19px;
}

.content{
    margin-top: 120px;
    padding-right: 50px;
    padding-left: 200px;
}

.navitems{
    margin-left: 90px;
}

p, h2, li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1{
    color: rgb(57, 174, 147);
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

nav{
    position: fixed;
    width: 100%;
    border-color: white;
    margin-bottom: 50px;
    color: blue;
    background:  rgba(6, 6, 6, 0.732);
    backdrop-filter: saturate(180%) blur(12px);
    -webkit-backdrop-filter: saturate(180%) blur(12px);
    z-index: 1000;
    gap: 2rem;
    top: 0;
    left: 0;
    height: 80px;
    box-shadow: inset;
}

button:hover{
    background-color: rgba(169, 169, 169, 0.148);
    transition: 0.2s ease;
}

.about{
    font-style: italic;
    color: royalblue;
}

a{
    text-decoration: none;
}

.hypertext{
    text-decoration: none;
    color: royalblue;
}

.artistpics{
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 50px;
    margin-top: 5px;
}

.pics{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.slidepic{
    border-radius: 8px;
}

.mobilenav{
    bottom: 0;
    left: 0;
    height: 70px;
    background:  rgba(6, 6, 6, 0.732);
    width: 100%;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: saturate(180%) blur(11px);
    justify-content: space-evenly;
}

.mobilenavitems{
    margin-left: 9%;
}

.mobilenavbutton {
    box-shadow: 0px;
    margin-right: 1px;
    background-color: transparent;
    border: none;
    margin-top: 25px;
    border-radius: 15px;
}

.mobilenavlinks{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 15px;
}

.mobileiconholder{
    height: 38px;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    position: fixed;
    background:  rgba(6, 6, 6, 0.732);
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.holderitems{
    margin-left: 43%;
}

.mobileicon{
    padding-top: 2px;
}

 @media (min-width: 805px) {
      nav { display: flex; }
      .mobilenav, .mobilenavitems, .mobilenavbutton, .mobilenavlinks, .mobileiconholder, .mobileicon, .holderitems { display: none; }

    }

 @media (max-width: 805px) {
      nav { display: none; }
      .content { margin-top: 50px }
      .mobilenavbutton {padding-bottom: 20px;}
      .mobilenavitems {margin-left: 0%;}
      .mobilenav { display: flex; }
      .pics, .artistpics {height: 100%; width: 100%;}
      .slidepic {height: 100%; width: 100%;}
      .content {padding-left: 28px; padding-right: 28px; padding-bottom: 60px; padding-top: 1px;}
    }

@media (max-width: 980px) {
    .content {padding-left: 35px; padding-right: 35px;}
}