body {
    background-color: rgba(8, 8, 8, 0.921);
    justify-content: space-around;
}

.navbutton {
    box-shadow: 0px;
    margin-right: 25px;
    background-color: transparent;
    border: none;
    margin-top: 22px;
    border-radius: 15px;
}

.navlinks{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 19px;
}

.content{
    padding-top: 87px;
    padding-right: 50px;
    padding-left: 175px;
}

.navitems{
    padding-left: 90px;
}

p, h2, li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.headings{
    color: rgb(57, 174, 147);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 3px #0000005c;
}

.artistnames{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 3px #0000005c;
}

h6{
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

nav, .mobilenav, .mobileiconholder{
    background:  rgba(6, 6, 6, 0.732);
    backdrop-filter: saturate(180%) blur(7px);
    -webkit-backdrop-filter: saturate(180%) blur(7px);
}

nav{
    position: fixed;
    width: 100%;
    margin-bottom: 50px;
    color: blue;
    z-index: 1000;
    gap: 2rem;
    top: 0;
    left: 0;
    height: 77px;
    box-shadow: 0 0 7px #0000005c;
}

button:hover{
    background-color: rgba(169, 169, 169, 0.148);
    transition: 0.2s ease;
}

.about{
    font-style: italic;
    color: royalblue;
}

a{
    text-decoration: none;
}

.hypertext{
    text-decoration: none;
    color: royalblue;
}

.artistpics{
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 9px #0000005c; 
}

.pics{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 9px #0000005c;
    margin-right: 5px;
}

.slidepic{
    border-radius: 8px;
    box-shadow: 0 0 9px #0000005c;
    margin-top: 15px;
}

.mobilenav{
    height: 65px;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    border-top-width: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 40px;
    width: 368px;
    align-items: center;
    align-self: center;
    position: fixed;
    justify-content: center;
    box-shadow: 0 0 20px #0000005c;
}

.mobilenavbutton {
    box-shadow: 0px;
    margin-right: 0px;
    background-color: transparent;
    border: none;
    margin-top: 17px;
    border-radius: 100px;
}

.mobilenavlinks{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 25px;
    margin-bottom: 1px;
    padding: 0px;
    font-size: 15px;
}

.mobileiconholder{
    height: 40px;
    width: 368px;
    border-radius: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0px;
    position: fixed;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-bottom: 5px;
    box-shadow: 0 0 20px #00000060;
}

.holderitems{
    margin-left: 0%;
}

.mobileicon{
    padding-top: 2px;
}

 @media (min-width: 805px) {
      nav { display: flex; }
      .mobilenav, .mobilenavitems, .mobilenavbutton, .mobilenavlinks, 
      .mobileiconholder, .mobileicon, .holderitems { display: none; }

    }

 @media (max-width: 805px) {
      nav { display: none; }
      .content { padding-top: 50px }
      .mobilenavbutton {padding-bottom: 20px;}
      .mobilenavitems {margin-left: 0%;}
      .mobilenav { display: flex; }
      .mobileiconholder { display: flex; }
      .headings { text-align: center; }
      .pics, .artistpics {height: 100%; width: 100%;}
      .slidepic {height: 100%; width: 100%;}
      .content {padding-left: 24px; padding-right: 24px; padding-bottom: 60px; padding-top: 40px;}
    }

@media (max-width: 980px) {
    .content {padding-left: 24px; padding-right: 24px;}
    .navitems {padding-left: 50px;}
}