body {
    background-color: rgba(8, 8, 8, 0.953);
    justify-content: space-around;
}

.navlinks{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 19px;
    font-size: 18px;
    border-radius: 50px;
    background-color: transparent;
    transition: 0.2s ease;
}

.content{
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 175px;
}

.navitems{  
    margin-top: 21px;
    padding-left: 90px;
}

p, h2, li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.headings{
    color: rgb(57, 174, 147);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 3px #0000005c;
}

.artistnames{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 3px #0000005c;
}

h6{
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

.mobilenav, .mobileiconholder{
    background:  rgba(6, 6, 6, 0);
    backdrop-filter: saturate(140%) blur(8px);
    -webkit-backdrop-filter: blur(5px);
}  

nav{
    position: fixed;
    width: 100%;
    background:  rgba(12, 12, 12, 0.733);
    box-shadow: 0 0 7px #0000005c;
    backdrop-filter: saturate(180%) blur(8px);
    -webkit-backdrop-filter: saturate(180%) blur(8px);
    color: blue;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 68px;
}

.navlinks:hover{
    color: rgb(237, 237, 237);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
    font-size: 19px;
    transition: 0.2s ease;
}

.mobilenavlinks:hover{
    font-size: 17.5px;
    transition: 0.2s ease;
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.604);
}


.about{
    font-style: italic;
    color: royalblue;
}

.versionnumber{
    color: rgba(74, 74, 74, 0.874);
    font-size: 9px;
}

a{
    text-decoration: none;
}

.hypertext{
    text-decoration: none;
    color: royalblue;
}

.social{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-size: 20px;
}

.artistpics{
    border-radius: 17px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #0000005c; 
}

.pics{
    border-radius: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px #0000005c;
    margin-right: 5px;
}

.slidepic{
    border-radius: 17px;
    box-shadow: 0 0 10px #0000005c;
    margin-top: 15px;
}

.mobilenav{
    height: 55px;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    border-top-width: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 40px;
    width: 325px;
    align-items: center;
    align-self: center;
    position: fixed;
    justify-content: space-evenly;
    box-shadow: 0 0 31px #00000068,
    inset 0 0px 6px rgba(255, 255, 255, 0.08), 
    inset 0 0px 6px rgba(255, 255, 255, 0.05);
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.075), rgba(12, 12, 12, 0.015));
    background-blend-mode: screen, normal, multiply;
}

.mobilenavbutton {
    margin-right: 0px;
    background-color: transparent;
    border: none;
    border-radius: 100px;
}

.mobilenavlinks{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-decoration: none;
    color: white;
    margin-bottom: 0px;
    padding: 3.5px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 50px;
    transition: 0.2s ease;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.642);
}

.mobilenavitems{
    margin-bottom: 3px;
}

.mobileiconholder{
    height: 40px;
    width: 325px;
    border-radius: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0px;
    position: fixed;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-bottom: 5px;
    box-shadow: 0 0 31px #00000068,
    inset 0 0px 6px rgba(255, 255, 255, 0.08), 
    inset 0 0px 6px rgba(255, 255, 255, 0.05);
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.075), rgba(12, 12, 12, 0.015));
    background-blend-mode: screen, normal, multiply;

}

.holderitems{
    margin-left: 0%;
}

.mobileicon{
    padding-top: 2px;
}

 @media (min-width: 688px) {
      nav { display: flex; }
      .mobilenav, .mobilenavitems, .mobilenavlinks, 
      .mobileiconholder, .mobileicon, .holderitems { display: none; }

    }

 @media (max-width: 688px) {
      nav { display: none; }
      .mobilenavlinks {padding-bottom: 20px;}
      .mobilenavitems {margin-left: 0%;}
      .mobilenav { display: flex; }
      .mobileiconholder { display: flex; }
      .headings { text-align: center; }
      .pics, .artistpics {height: 100%; width: 100%;}
      .slidepic {height: 100%; width: 100%;}
      .content {padding-left: 20px; padding-right: 20px; padding-bottom: 60px; padding-top: 45px;}
    }

@media (max-width: 970px) {
    .content {padding-left: 22px; padding-right: 22px;}
    .navitems {padding-left: 38px;}
}