body {
    background-color: rgba(0, 0, 0, 0.932);
    margin-right: 50px;
}

.navbutton {
    box-shadow: 0px;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    margin-top: 15px;
    border-radius: 8px;
}

.navlinks{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.content{
    margin-top: 70px;
    margin-left: 7cm;
}
.navitems{
    margin-left: 70px;
}

p, h2, li, h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(57, 174, 147);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    border-color: white;
    margin-bottom: 50px;
    color: blue;
    background:  rgba(6, 6, 6, 0.732);
    backdrop-filter: saturate(180%) blur(9px);
    z-index: 1000;
    gap: 2rem;
    top: 0;
    left: 0;
    height: 50px;
    box-shadow: inset;
}

button:hover{
    background-color: rgba(169, 169, 169, 0.205);
    transition: 0.2s ease;
}

.about{
    font-style: italic;
    color: royalblue;
}

a{
    text-decoration: none;
}

.hypertext{
    text-decoration: none;
    color: royalblue;
}
